---
layout: archive
title: "Team"
permalink: /portfolio/
author_profile: true
---

I am always looking for talented PhD researchers with interests at the intersection Systems & Control Theory, Learning and Multi-Agent Systems. At this stage, I am looking for outstanding candidates in the following areas.  If interested, drop me an email!

1. Decision-making under uncertainty for autonomous agents: this program investigates the design of autonomous agents able to make optimal decisions directly from data, possibly crowdsourcing information from third parties. As such, we will conduct theoretical and algorithmic research on probabilistic data-driven optimal control. It is expected that our methodologies will have  a broad range of applicability and we will indeed benchmark our results against specific applications from systems biology and smart cities . The research will develop and build upon tools from optimal control, information science and reinforcement learning.

2. Control of very-large-scale systems: we will conduct theoretical and algorithmic research on the control of very-large-scale systems. Specifically, we will investigate how to control network systems for which only a macroscopic description (via partial differential equations and/or probability densities) is known. These systems abound in nature and technology and we will apply our results to analyze and control multi-vehicle and biochemical systems. The research will develop and build upon tools from nonlinear control and information theory.

3. Multi-agent learning: this program investigates the design of multi-agent systems able to learn iterative tasks. As such, we will conduct theoretical and algorithmic research on the design of multi-agent systems able to learn how to cooperatively perform complex, repetitive, tasks. The key application focus for the algorithms will involve the design of autonomous agents (robots) able to cooperate with humans in order to fulfil a joint task. The research will develop and build upon tools from distributed optimization, decision science and multi-agent systems.


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

